.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
 }
header{
     top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
     height: 10%;
}
.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.nav-link{
     font-size: 1.7rem;
     color: #000;
     font-weight: 500;
    margin-right: 3.5rem;
}

.nav-link:hover {
    color: #007bff; /* Change text color on hover */
    font-weight: 600; /* Increase font weight on hover */
    text-decoration: underline; /* Optional: add an underline */
}

.active {

    text-decoration: underline; /* Underline the active link */
}

.darkmode-icon{
    font-size: 2.4rem;
    color: #fdfdfd;
    cursor: pointer;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
     align-items: center;
}


